body {
  background-image: radial-gradient(
      farthest-corner circle at 100% 0%,
      #00dfff 0%, #8c00ea 100%
  );
  border: 0;
  font-family: 'Pixelify Sans', Arial, sans-serif; /* Fallback mientras carga */
  font-optical-sizing: auto; /* Permite ajustes ópticos si está disponible */
  font-weight: bold; /* Ajusta según el peso */
  font-style: normal; /* Define el estilo base */
}
h2{
    font-size: 92px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
@font-face {
  font-family: 'Pixelify Sans';
  font-display: swap; 
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: azure;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

header.scrolled {
  background-color: rgb(0 0 0 / 25%);
  box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
  backdrop-filter: blur(5px);
}
header.scrolled .nav a {
  color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
  box-shadow: none;
}
.wrapper {
  margin-top: 6vw;
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}
.parr{
  font-size: xx-large;
  margin: 1vw;
}
.typing-demo {
  width: 13ch;
  animation: typing 2s steps(10), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 15px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


h1 {
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.title {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.title img{
  width: 10vw;
  margin-top: 20px;
}
.desktop{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.nav a {
  text-decoration: none;
  margin: 0px 10px 0px 68px;
  color: #ffffff;
  font-size: 3vw;
}
/*.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}*/
/*
.contenedor .card {
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  border-style: double;
  border-color: black;
  box-shadow: 10px 10px 5px darkblue;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  text-align: center;
}
*/

/* Oculta inicialmente el párrafo */
.contenedor .card .slide.slide2 .content p {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Animación suave */
}

/* Al hacer hover sobre la tarjeta, muestra el párrafo */
.contenedor .card:hover .slide.slide2 .content p {
  opacity: 1;
}

.contenedor .card{
  margin: 1vw;
}
.contenedor .card a{
  text-decoration: none;
}
.contenedor .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00122c;
  display: flex;
  text-align: center;
  color: azure;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
}



.contenedor .card .slide {

  width: 255px;
  height: 275px;
  transition: 0.5s;

}

.contenedor .card .slide.slide1 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1;

  transition: .7s;

  transform: translateY(100px);

}

.contenedor .card:hover .slide.slide1{

  transform: translateY(0px);

}

.contenedor .card .slide.slide2 {

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  box-sizing: border-box;

  transition: .8s;

  transform: translateY(-100px);

  box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.contenedor .card:hover .slide.slide2{

  transform: translateY(0);

}

.contenedor .card .slide.slide2::after{

  content: "";

  position: absolute;

  width: 30px;

  height: 4px;

  bottom: 15px;

  left: 50%;

  left: 50%;

  transform: translateX(-50%);

  background: #2c73df;

}

.contenedor .card .slide.slide2 .content p {

  margin: 0;

  padding: 0;

  text-align: center;

  color: #414141;

}

.contenedor .card .slide.slide2 .content h3 {

  margin: 0 0 10px 0;

  padding: 0;

  font-size: 24px;

  text-align: center;

  color: #414141;

} 


.contenedor img {
  width: 100%;
  height: auto;
  max-width: 400px; /* El ancho máximo de las imágenes */
  transition: transform 0.4s ease;
  display: block; /* Asegura que no haya espacios en línea */
}


.proyecto {
  max-width: 400px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.proyecto img {
  max-width: 400px;
}


p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Fondo decorativo */
.about-me .background-decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.about-me .background-decorations svg {
  position: absolute;
  fill: none;
  stroke-width: 2px;
  stroke: rgba(247, 247, 247, 0.678);
  animation: float 2s ease-in-out infinite alternate;
  filter: blur(3px);
}

.background-decorations-inicio{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background-decorations-inicio svg{
  position: absolute;
  fill: none;
  stroke: none;
  stroke-width: 0;
  animation: float 2s ease-in-out infinite alternate;
  filter: blur(4px);
}

/* Animaciones flotantes */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Contenido principal */
.container {
  z-index: 2;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.about-text {
  text-align: center;
  font-size: x-large;
}

.about-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 100px;
}
@keyframes color-cycle {
  0% { color: #FF5733; }    /* Rojo */
  12.5% { color: #33FF57; } /* Verde */
  37.5% { color: #FF33A1; } /* Rosa */
  50% { color: #FFC300; }   /* Amarillo */
  62.5% { color: #33FFF3; } /* Turquesa */
  87.5% { color: #FF8C33; } /* Naranja */
  100% { color: #FF5733; }  /* Regreso a Rojo */
}

/* Aplicar animación al span */
.skills-list li span {
  display: inline-block;
  animation: color-cycle 4s infinite linear; /* Cambia colores continuamente */
  font-weight: bold;
  font-size: 1.5rem;
}

/* Sección de habilidades */
.skills-section {
  text-align: center;
}

.skills-section h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skills-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #333;
}

.skills-list li svg {
  flex-shrink: 0;
}

.certificates-collage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.certificates-collage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Media query para pantallas de 700px o menos */
@media (max-width: 700px) {
  body {
    font-size: 90%; /* Escala general del texto */
  }

  header {
    padding: 10px 5px;
  }

  h1 {
    font-size: 36px;
    padding: 20px 10px;
  }
  .typing-demo{
    width: 14ch;
  }
  .desktop{
    display: flex;
    flex-direction: flex-start;
  }
  .parr {
    font-size: x-large;
    margin: 5px;
  }

  .title {
    text-align: center;
  }

  .title img {
    width: 25vw; /* Imagen más pequeña */
  }

  .nav a {
    font-size: 7vw;
    margin: 0 15px;
    color: white;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #001ce3, 7px 7px 0px rgb(0 0 0 / 20%);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }



  .contenedor img {
    max-width: 100%;
    width: 80%; /* Escala las imágenes */
  }

  .proyecto {
    max-width: 90%;
  }

  .proyecto img {
    width: 100%; /* Escala las imágenes */
  }
}
